<h1>Battle!</h1>
<form action='/names' method='post'>
  <label name='Name'>Name</label>
  <input type="text" name="player1">
  <input type="text" name="player2">
  <input type="submit" name=submit>
</form>
